:root {
  scroll-padding-top: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.hero-bg {
  background-image: url("../assets/earth.jpg");
  background-size: cover;
  background-position: 10px 20%;
  background-repeat: no-repeat;
}

.timeline {
  position: relative;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border-color: #e5e7eb;
  background-color: #e5e7eb;
  position: absolute;
  left: -6px;
  margin-top: 7px;
}

.icon:hover {
  scale: 1.1; /* ขยายขนาดให้ใหญ่ขึ้นจากเดิม */
  transition-duration: 0.3s; /* เวลาในการทํา */
}
