@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");

body {
  font-family: "Sarabun", sans-serif;

  margin: 0;
}

.nav-link {
  margin-right: 24px;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: cyan;
}

#nav {
  width: 100%;
  padding: 16px 0; /* top right buttom left, y x, t x b */
  background-color: black;

  position: sticky;
  top: 0;
}

.container {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 12px;
}

.btn {
  background-color: cornflowerblue;
  padding: 8px;
  margin: 3px;
  border: none;
  border-radius: 10%;
  color: white;
  cursor: pointer;
}
