@import url("https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap");

:root {
  font-family: "Prompt", sans-serif;
}

body {
  margin: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
}

#nav {
  background-color: black;
  padding: 2rem;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
